<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481250389875-88i120spjlr6q5hbdp71vb5cclb9sb0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481250389875-88i120spjlr6q5hbdp71vb5cclb9sb0p</string>
	<key>API_KEY</key>
	<string>AIzaSyCeeLlJqdAh3PVqo8y_ZH5uG6O_f6M5oxI</string>
	<key>GCM_SENDER_ID</key>
	<string>481250389875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labbAss2</string>
	<key>PROJECT_ID</key>
	<string>logininandsignup</string>
	<key>STORAGE_BUCKET</key>
	<string>logininandsignup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481250389875:ios:ebfe8810b4eeb158e65f06</string>
</dict>
</plist>